.mainTitle button{
    border: none;
    background-image: linear-gradient(#4cc175, #2d9e51);;
    color: #fff;
    padding: 0px;
    cursor: pointer;
    font-family: 'Onetime';
}

.mainTitle button img {
    max-height: 9vh;
}
