.page {
	min-height: 100vh;
    display: grid;
	grid-template-rows: 10% 85% 5%;
	background-image: url("./imgs/background.jpg");
	background-repeat: no-repeat;
	background-size: 140%;
}

.header {
	grid-row: 1/2;
}

.body {
	grid-row: 2/3;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.center {
	position: relative;
}

.field-div {
	padding: 5px;
}
  
.first-field {
	padding-top: 1.5em;
  }
  