/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-height: 50px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-height: 100px;
    }

    .footer button {
        border: none;
        background-color: #b5b5b5;
        cursor: pointer;
    }

    .footer button:hover {
        color: #fff;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}