.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100px;
}

.footer button {
    border: none;
    background-color: #b5b5b5;
    cursor: pointer;
}

.footer button:hover {
    color: #fff;
}